@using Microsoft.AspNetCore.Http;
@using System;
@using System.Collections.Generic;
@{

    string[] hidenav = { "/authen", "/", "/login", "/register" };

    bool isAdmin = Context.User.Clone().IsInRole("0");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabReservation</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <script src="~/a076d05399.js"></script>
</head>

<body>
    @if (!hidenav.Contains(Context.Request.Path.ToString().ToLower()))
    {
        <header>
            @if (User.Identity.IsAuthenticated)
            {
                <nav>
                    <div class="navbar">
                        @if (isAdmin)
                        {
                            <a href="/LabManage">
                                <img src='@Url.Content("~/Images/Logo_Nav.svg")' alt="logo" class="logo"></a>
                            <div class="links">
                                <a class='@(ViewContext.RouteData.Values["Controller"].ToString() == "LabManage" ? "nav-link active" : "nav-link")'
                        asp-area="" asp-controller="LabManage" asp-action="Index">Lab Management</a>
                                <a class='@(ViewContext.RouteData.Values["Controller"].ToString() == "Blacklist" ? "nav-link active" : "nav-link")'
                        asp-area="" asp-controller="Blacklist" asp-action="Index">Blacklist</a>
                            </div>
                        }
                        else
                        {
                            <a href="/Home">
                                <img src='@Url.Content("~/Images/Logo_Nav.svg")' alt="logo" class="logo"></a>
                            <div class="links">
                                <a class='@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "nav-link active" : "nav-link")'
                        asp-area="" asp-controller="Home" asp-action="Index">Laboratory</a>
                                <a class='@(ViewContext.RouteData.Values["Controller"].ToString() == "MyReserve" ? "nav-link active" : "nav-link")'
                        asp-area="" asp-controller="MyReserve" asp-action="Index">My Reservation</a>
                            </div>
                        }
                        <div class="user">
                            <div>
                                @await Component.InvokeAsync("NavUsername")
                            </div>
                            <a class="logout" asp-controller="Authen" asp-action="Logout" title="Logout">
                                <i class="fas fa-sign-out-alt" alt="Logout"></i></a>
                        </div>
                    </div>
                </nav>
            }
        </header>

    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>