@model LabReservation.Models.MyReserveProps

@{
    var currentDateTime = DateTime.Now;
    var data =  @Model.cancelReservedModalInput.ToArray();
}

<link rel="stylesheet" type="text/css" href="~/css/cancelReserve.css" />

<form asp-action="ConfirmCancel" method="post">
  <div id="modal-main" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Cancel Selected Reservation</h2>
        <button type="button" class="close">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel these reservation</p>
        <ul class="selected-list">
          @for(int i = 0; i< @data.Length; i++){
            <li>@data[i].lab_name (@(data[i].time+8 < 10 ? "0": "")@(data[i].time+8):00 - @(data[i].time+9 < 10  ? "0": "")@(data[i].time+9):00, @currentDateTime.AddDays(@data[i].day).ToString("d MMMM yyyy"))</li>
            <input type="hidden" asp-for="cancelReservedModalInput[i].reserve_id" value="@data[i].reserve_id">
            <input type="hidden" asp-for="cancelReservedModalInput[i].day" value="@data[i].day">
            <input type="hidden" asp-for="cancelReservedModalInput[i].time"  value="@data[i].time">
            <input type="hidden" asp-for="cancelReservedModalInput[i].lab_name" value="@data[i].lab_name">
            <input type="hidden" asp-for="cancelReservedModalInput[i].lab_id" value="@data[i].lab_id">
          }
        </ul>
      </div>
      <div class="modal-footer2">
        <div>
          <button type="button" id="btn-cancel" class="btn btn-cancel">Cancel</button>
          <button type="submit" id="btn-confirm" class="btn btn-confirm">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</form>


<script>
  var modal = document.getElementById("modal-main");

  var span = document.getElementsByClassName("close")[0];

  var cancel = document.getElementById("btn-cancel");

  span.onclick = function () {
    modal.style.display = "none";
  }

  cancel.onclick = function () {
    modal.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>