@model LabReservation.Models.ReserveinfoProps

@{
    var currentDateTime = DateTime.Now;
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="~/css/reservationTable.css">
<link rel="stylesheet" type="text/css" href="~/css/circularButton.css">
<form id="myAnchor" asp-action="Confirm" method="post">
    <p id="count_reserved">Count</p>
    <button type="submit">Confirm</button>

    <table class="reservation-table-container">
        <thead class="reservation-table-header">
            <tr>
                <th></th>
                <th>
                    <div>@currentDateTime.ToString("ddd")</div>
                    <div>Today</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(1).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(1).ToString("d MMM")</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(2).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(2).ToString("d MMM")</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(3).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(3).ToString("d MMM")</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(4).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(4).ToString("d MMM")</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(5).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(5).ToString("d MMM")</div>
                </th>
                <th>
                    <div>@currentDateTime.AddDays(6).ToString("ddd")</div>
                    <div>@currentDateTime.AddDays(6).ToString("d MMM")</div>
                </th>
            </tr>
        </thead>
        <tbody class="reservation-table-content">
            <tr>
                <td>08:00<br>-<br>09:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_0[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[0]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>09:00<br>-<br>10:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_1[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[1]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>10:00<br>-<br>11:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_2[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[2]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>11:00<br>-<br>12:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_3[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[3]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>12:00<br>-<br>13:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_4[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[4]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>13:00<br>-<br>14:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_5[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[5]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>14:00<br>-<br>15:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_6[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[6]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>15:00<br>-<br>16:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_7[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[7]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>16:00<br>-<br>17:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_8[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[8]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>17:00<br>-<br>18:00</td>
                @for (int i = 0; i < 7; i++)
                {
                    <td>
                        <div>
                            <label class="circular-container" tabindex="0" onclick="checkedHandler()">
                                <input asp-for="reservedInput.time_9[i]" type="checkbox">
                                <span class="checkmark">
                                    <p>@Model.reservePageList[i].timeslot[9]</p>
                                </span>
                            </label>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript">
    const currentDateTime = new Date();
    const model = @Json.Serialize(@Model);
    const allCheckBox = document.querySelectorAll(".circular-container")

    function checkedHandler() {
        var checkboxes = document.querySelectorAll('.circular-container input:checked');
        document.querySelector("#count_reserved").innerHTML = checkboxes.length
    }


    allCheckBox.forEach((cb, index) => {
        const timeIndex = parseInt(index / 7);
        const dayIndex = index % 7;

        if (currentDateTime.getHours() >= 9 + timeIndex && dayIndex == 0) {
            cb.classList.add("hidden")
        }

        const countEquip = model.reservePageList[dayIndex].timeslot[timeIndex];
        const reservedList = model.reservePageList[dayIndex].reserved;

        if (reservedList.includes(timeIndex)) {
            cb.classList.add("reserved")
            cb.querySelector("p").innerHTML = "Reserved"
            cb.querySelector("input").disabled = true
        } else if (countEquip <= 0) {
            cb.classList.add("full")
            cb.querySelector("p").innerHTML = "Full"
            cb.querySelector("input").disabled = true
        } else if (countEquip > model.reservePageList[dayIndex].maximum * 0.3) {
            cb.classList.add("success")
        } else {
            cb.classList.add("warning")
        }

    }
    )
</script>