@model LabReservation.Models.LabManageCard

<link rel="stylesheet" type="text/css" href="~/css/labmanageCard.css">

<div class="card">

    <div class="card-main" tabindex="0" id="@Model.labinfo.id">
        <a asp-controller="Reserveinfo" asp-action="Index" asp-route-id="@Model.labinfo.id">
            <div class="card-header">
                <h3 class="lab-name">@Model.labinfo.name</h3>
            </div>
            <div class="card-detail">
                <p>Equipment : @Model.labinfo.equip</p>
                <p>Current Amount : @Model.equipinfo.maximum</p>
            </div>
        </a>
    </div>

</div>
