@model LabReservation.Models.LabManageInfoProps

@{
  var currentDate = DateTime.Now;
}

<link rel="stylesheet" type="text/css" href="~/css/cancelReserve.css" />
<link rel="stylesheet" type="text/css" href="~/css/checkbox.css">

<div id="modal-main" class="modal">
  <form asp-action="SubmitCancel" asp-route-id="@Model.id" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Cancel Reservation</h2>
        <button type="button" class="close">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select user to cancel reservation in</p>
        <p class="detail-reserve">@Model.labinfo.name (@Model.cancelUserList.day.ToShortDateString() @Model.cancelUserList.start_time:00 - @Model.cancelUserList.end_time:00)</p>
        <div class="select-cancel">
          @for (int i = 0; i < @Model.cancelUserList.data.Length; i++)
          {
            <div>
              <input asp-for="checkedList[i]" type="checkbox"> @Model.cancelUserList.data[i].email<br>
            </div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" id="btn-selectall" class="btn btn-selectall">Select All</button>
        </div>
        <div>
          <button type="button" id="btn-cancel" class="btn btn-cancel">Cancel</button>
          <button type="submit" id="btn-confirm" class="btn btn-confirm">Confirm</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  var modal = document.getElementById("modal-main");

  var span = document.getElementsByClassName("close")[0];

  var cancel = document.getElementById("btn-cancel");

  var confirm = document.getElementById("btn-confirm");

  var select_all = document.getElementById("btn-selectall");

  span.onclick = function () {
    modal.style.display = "none";
  }

  cancel.onclick = function () {
    modal.style.display = "none";
  }

  confirm.onclick = function () {
    // get function from checkbox viewcomponent
    confirm_checkbox();
    // submit and close modal
    modal.style.display = "none";
  };

  select_all.onclick = function () {
    // get function from checkbox viewcomponent
    check_all();
  }

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
</script>