@model LabReservation.Models.LabManageInfoProps

@{
  var currentDate = DateTime.Now;
}

<link rel="stylesheet" type="text/css" href="~/css/cancelReserve.css" />
<link rel="stylesheet" type="text/css" href="~/css/checkbox.css">

<div id="modal-main" class="modal">
  <form asp-action="SubmitCancel" asp-route-id="@Model.id" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Cancel Reservation</h2>
        <button type="button" class="close">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select user to cancel reservation in</p>
        <p class="detail-reserve">@Model.labManageInfo.name (@Model.cancelUserList.day.ToShortDateString()
          @Model.cancelUserList.start_time:00 - @Model.cancelUserList.end_time:00)</p>
        <div class="select-cancel">
          @for (int i = 0; i < @Model.cancelUserList.data.Length; i++)
          {
                <div>
                  <input asp-for="checkedList[i]" type="checkbox" id=@String.Format("cancelCheckbox{0}",i)
              class="cancelCheckbox" style="cursor: pointer;">
                  <label for=@String.Format("cancelCheckbox{0}",i)
              style="cursor: pointer;">@Model.cancelUserList.data[i].email</label><br>
                </div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" id="btn-selectall" class="btn btn-selectall">Select All</button>
        </div>
        <div>
          <button type="button" id="btn-cancel" class="btn btn-cancel">Cancel</button>
          <button type="submit" id="btn-confirm" class="btn btn-confirm">Confirm</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  var cancelModal = document.querySelector("#modal-main");

  var span = document.getElementsByClassName("close")[0];

  var cancel = document.querySelector("#btn-cancel");

  var confirm = document.getElementById("btn-confirm");

  var select_all = document.getElementById("btn-selectall");

  let selected = false;

  span.onclick = function () {
    cancelModal.style.display = "none";
  }

  cancel.onclick = function () {
    cancelModal.style.display = "none";
  }

  confirm.onclick = function () {
    // get function from checkbox viewcomponent
    confirm_checkbox();
    // submit and close cancelModal
    cancelModal.style.display = "none";
  };

  select_all.onclick = function () {
    // get function from checkbox viewcomponent
    toggleSelect()
  }

  function toggleSelect() {
    if (selected) {
      document.querySelectorAll(".cancelCheckbox").forEach(ele => ele.checked = false)
      document.getElementById("btn-selectall").innerHTML = "Select All"
      selected = false
    }
    else {
      document.querySelectorAll(".cancelCheckbox").forEach(ele => ele.checked = true)
      document.getElementById("btn-selectall").innerHTML = "Deselect All"
      selected = true
      }
  }

  window.onclick = function (event) {
    if (event.target == cancelModal) {
      cancelModal.style.display = "none";
    }
  }

</script>